<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Игра в города</title>
    <script type="text/javascript">
    function get_city() {
        var input = document.getElementById('city').value();
            input.addEventListener("keyup", function(event) {
             if (event.keyCode === 13) {
                 document.getElementById('cityform').submit();
                 return false;
             }
        });
    }
    </script>
</head>
<body>
<div id="maindiv">
    <img src="{{ url_for('static', filename='images/1675621696_grizly-club-p-peterburg-kliparti-17.png') }}"
         alt="Piter panoram" />
    <div id="paragraph">
        <p>{{data['value']}}</p>
    </div>
    <form onsubmit="get_city()" id="cityform" action="/game" method="post">
        <input type="text" id="city" name="city" value=""/>
    </form>
</div>
</body>
</html>