<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Игра в города</title>
</head>
<body>
<div id="maindiv">
    <img src="https://grizly.club/uploads/posts/2023-02/1675621696_grizly-club-p-peterburg-kliparti-17.png"
         alt="Piter panoram" />
    <div id="paragraph">
        <p>{{data['greeting']}}</p>
    </div>
    <button type="button" onclick="window.location.href='{{ url_for('game') }}';">Начать игру!</button>
</div>
</body>
</html>